<div class="intro-container">
  <div class="intro-contents">
    <div class="AboutUsHeading">
      <h2>
        TRAO.
      </h2>
      <p>
        Bus reservation System is to automate the existing manual system by the help of computerized equipments and
        full-fledged computer software,
        fulfilling their requirements, so that their valuable data/information can be stored for a longer period with easy
        accessing and manipulation of the same.The required software and hardware are easily available and easy to work
        with.Bus reservation System is to
        manage the details of Bus, Tickets, Booking, user,Customer Seats.
        It manages all the information about Bus,Bus updates,Bus availabilty, Seats,Online Payment. The project is
        totally built at administrative end and thus only the administrator is guaranteed the access.
        The purpose of the project is to build an application program to reduce the manual work for managing the
        Bus, Tickets, Booking.
        It tracks all the details about the Booking, Customer, Seats.
      </p>
    </div>
    <div class="image-Container"></div>
  </div>
</div>
