<div class="user-profile-container">
  <div class="user-sidebar-container">
    <div class="user-Avatar-container">
      <h5 class="username">
        Departure Time
      </h5>
    </div>
    <div class="user-menu-items">
      <label>
        <input type="radio" name="deptm"/>
        4:30pm to 6:30pm
      </label>
  </div>
    <div class="user-menu-items">
      <label>
        <input type="radio" name="deptm"/>
        6:30pm to 8:30pm
      </label>
    </div>
    <div class="user-menu-items">
      <label>
        <input type="radio" name="deptm"/>
        8:30pm to 10:30pm
      </label>
    </div>
    <div class="user-menu-items">
      <label>
        <input type="radio" name="deptm"/>
        10:30pm to 6:00pm
      </label>
    </div>
  </div>
  <div class="user-Details-container">
    <h4>
      Bus Availability
    </h4>
    <div class="user-card-container">
      <div class="user-card-form-container">
        <div class="bus-card-container">
         <label>
          Busname
         </label>
        <label>
          Departure Time
          <span>
            8:00pm
          </span>
        </label>
        <label>
          Arrival Time
          <span>
            6:00pm
          </span>
        </label>
        <label>
          Fare
        </label>
        <label class="btn-st">
          count of seats
          <input type="button" class="btn-seats" value="check Seats"/>
        </label>
        </div>
        <div class="bus-card-container">
          <label>
            Busname
          </label>
          <label>
            Departure Time
            <span>
              8:00pm
            </span>
          </label>
          <label>
            Arrival Time
            <span>
              6:00pm
            </span>
          </label>
          <label>
            Fare
          </label>
          <label class="btn-st">
            count of seats
            <input type="button" class="btn-seats" value="check Seats" />
          </label>
        </div>
        <div class="bus-card-container">
          <label>
            Busname
          </label>
          <label>
            Departure Time
            <span>
              8:00pm
            </span>
          </label>
          <label>
            Arrival Time
            <span>
              6:00pm
            </span>
          </label>
          <label>
            Fare
          </label>
          <label class="btn-st">
            count of seats
            <input type="button" class="btn-seats" value="check Seats" />
          </label>
        </div>
        <div class="bus-card-container">
          <label>
            Busname
          </label>
          <label>
            Departure Time
            <span>
              8:00pm
            </span>
          </label>
          <label>
            Arrival Time
            <span>
              6:00pm
            </span>
          </label>
          <label>
            Fare
          </label>
          <label class="btn-st">
            count of seats
            <input type="button" class="btn-seats" value="check Seats" />
          </label>
        </div>
        <div class="bus-card-container">
          <label>
            Busname
          </label>
          <label>
            Departure Time
            <span>
              8:00pm
            </span>
          </label>
          <label>
            Arrival Time
            <span>
              6:00pm
            </span>
          </label>
          <label>
            Fare
          </label>
          <label class="btn-st">
            count of seats
            <input type="button" class="btn-seats" value="check Seats" />
          </label>
        </div>
        <div class="bus-card-container">
          <label>
            Busname
          </label>
          <label>
            Departure Time
            <span>
              8:00pm
            </span>
          </label>
          <label>
            Arrival Time
            <span>
              6:00pm
            </span>
          </label>
          <label>
            Fare
          </label>
          <label class="btn-st">
            count of seats
            <input type="button" class="btn-seats" value="check Seats" />
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
